.cover__overlay {
  grid-area: 1 / 1;
  background: var(--bg);
  opacity: .3;
  transition: opacity .3s linear;
}

@media (any-hover: hover) {
  .cover__link:hover .cover__overlay {
    opacity: .8;
  }
}
